@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100
}

.dropdown {

  min-height: 0px;
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 900ms;

}

.dropdown.active {
  height: auto;
  overflow: visible;
  transition-duration: 300ms;
}


@layer components {

  .custom-input-label{
    @apply block text-sm text-gray-700 dark:text-gray-400 col-span-4 sm:col-span-2 font-medium 
  }
  .custom-input{
    @apply px-3 py-2 rounded  border border-gray-300 bg-gray-50 text-gray-500 text-sm focus:bg-white dark:bg-gray-700 dark:text-gray-300 dark:border dark:border-gray-600 w-full focus:outline-none  h-[50px]
  }

}